<section class="mat-typography titulo">
  <h1 class="mat-h1 titulo">Nueva OT</h1>
</section>

<mat-accordion [multi]="true">
  <mat-expansion-panel
    [expanded]="(todos === 1 || step === 0)"
    (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cliente
      </mat-panel-title>
    </mat-expansion-panel-header>
      <!-- FORM CLIENTE -->
      <div class="sheet-oc-1">
        <div class="oc-container">
          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Nombre"
            [formControl]="cliNombre" required>
            <mat-error *ngIf="cliNombre.invalid">{{cliNombreError()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Direccion">
          </mat-form-field>
          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Web">
          </mat-form-field>
        </div>
      </div>
      <mat-action-row *ngIf="revision">
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>

  </mat-expansion-panel>
<!--_________________________________________________________________________ -->
  <mat-expansion-panel
    [expanded]="(step === 1 || todos === 1)"
    (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mandante
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="sheet-oc-1">
        <div class="oc-container">

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Nombre"
              [formControl]="manNombre" required>
              <mat-error *ngIf="manNombre.invalid">{{manNombreError()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Telefono">
          </mat-form-field>

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Correo"
              [formControl]="manEmail" required>
              <mat-error *ngIf="manEmail.invalid">{{manEmailError()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Direccion">
          </mat-form-field>

        </div>
      </div>
      <mat-action-row *ngIf="revision">
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
  </mat-expansion-panel>
<!--_________________________________________________________________________ -->
  <mat-expansion-panel [expanded]="(todos === 1 || step === 2)"
    (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Solicitud
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="sheet-oc-1">
        <div class="oc-container">

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Contrato">
          </mat-form-field>

          <mat-form-field>
            <input [readonly]="leerSolo" matInput placeholder="Nombre/Direccion del Sitio"
            [formControl]="solSitio" required>
            <mat-error *ngIf="solSitio.invalid">{{solSitioError()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea [disabled]="leerSolo" matInput placeholder="Descripción del Caso"
            [formControl]="solCaso" required>
          </textarea>
          <mat-error *ngIf="solCaso.invalid">{{solCasoError()}}</mat-error>
          </mat-form-field>

        </div>
      </div>
      <mat-action-row *ngIf="revision">
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
  </mat-expansion-panel>
  <!--_________________________________________________________________________ -->
  <mat-expansion-panel
    [expanded]="(todos === 1 || step === 3)"
    (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Respuesta
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="sheet-oc-1">
        <div class="oc-container">
          <mat-form-field>
            <mat-label>Asistencia</mat-label>
            <mat-select [disabled]="leerSolo" [(ngModel)]="selectedValue" name="respuesta">
              <mat-option *ngFor="let respuesta of respuestas" [value]="respuesta.value">
                {{respuesta.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input [readonly]="leerSolo" matInput [matDatepicker]="picker" placeholder="Agenda">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [disabled]="leerSolo" touchUi #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <textarea [disabled]="leerSolo" matInput placeholder="Técnicos"></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea [disabled]="leerSolo" matInput placeholder="Herramientas"></textarea>
          </mat-form-field>
        </div>
      </div>
      <mat-action-row *ngIf="revision">
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="setOpenAll()">End</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div class="button-row" *ngIf="!revision">
  <button mat-raised-button class="boton" color="primary" (click)="onSubmit()">
    Aceptar
  </button>
  <button mat-raised-button class="boton" color="basic" (click)="editar()">
    {{cancelarLabel}}
  </button>
</div>
