<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informacion Cliente
      </mat-panel-title>
    </mat-expansion-panel-header>
      <!-- FORM CLIENTE -->
      <div class="sheet-oc-1">
        <div class="oc-container">
          <mat-form-field>
            <input matInput placeholder="Cliente">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Sitio">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contrato">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mandante">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Solicitud"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

  </mat-expansion-panel>
<!--
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>

      <mat-panel-title>
        Asistencia al Caso
      </mat-panel-title>

    </mat-expansion-panel-header>

    <ot-card
      *ngFor="let asistencia of asistencias"
      [nombre]="asistencia.nombre"
      [fecha]="asistencia.fecha"
      [detalle]="asistencia.detalle">
    </ot-card>


  </mat-expansion-panel>--> 

</mat-accordion>
