.oc-container {
  padding-top: 1.5rem;
  //display: flex;
  //flex-direction: column;
  background: inherit;
}
 .mat-form-field {
   //padding-right: 1rem;
   padding-left: 1rem;
 }

.oc-container > * {
  //width: 100%;
}
