<section class="mat-typography titulo">
  <h1 class="mat-h1 titulo">Mis OT's</h1>
</section>

<table mat-table [dataSource]="otmis" class="mat-elevation-z8">

  <ng-container matColumnDef="evento_id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.evento_id}} </td>
  </ng-container>

  <ng-container matColumnDef="cliente_id">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let element"> {{element.cliente_id}} </td>
  </ng-container>

  <ng-container matColumnDef="created_on">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element">
      {{element.created_on | date:'h:mm a' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="rpta_estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.rpta_estado}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
