<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <div *ngIf="puedoVerMenu()">
      <mat-nav-list>
        <a mat-list-item routerLink="/otMis" routerLinkActive="active">Mis OC's</a>
        <a mat-list-item routerLink="/otNew" routerLinkActive="active">Nueva OC</a>
        <a mat-list-item href="#">OC's activas (pend)</a>
        <a mat-list-item routerLink="/test" routerLinkActive="active">Test</a>
        <a mat-list-item (click)="logout()">Cerrar Sesión</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Onecom</span>
    </mat-toolbar>
          <div>Auth: {{getUrl()}}</div>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
