
<div mat-dialog-content>
  <p class="mat-h4 titulo">Gerson,</p>
  <p class="mat-h4 titulo">La Orden de Trabajo fue creada con éxito!</p>
</div>
<p mat-dialog-title>OT nro.: 25648-FD </p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok!</button>
</div>
