<section class="mat-typography titulo">
  <h1 class="mat-h1 titulo">Nueva OT</h1>
</section>

<!--
<button (click)="consoleLog()">Oli!</button>
<button (click)="getUsers()">router!</button>
<button (click)="clear(); showConfig()">get!</button>

<app-messages>loading...</app-messages>

<span *ngIf="config">
    <p>Heroes API URL is "{{config.heroesUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
</span>

<ul class="heroes">
  <li *ngFor="let user of users">
    {{user.id}} {{user.name}} {{user.email}}
  </li>
</ul>
-->

<form [formGroup]="OTForm">
<mat-accordion [multi]="true">

  <div formGroupName="Cliente">
    <mat-expansion-panel
      [expanded]="(todos === 1 || step === 0)"
      (opened)="setStep(0)" hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente
        </mat-panel-title>
      </mat-expansion-panel-header>
        <!-- FORM CLIENTE -->
        <div class="sheet-oc-1">
          <div class="oc-container">

            <mat-form-field>
              <input formControlName="nombre" [readonly]="leerSolo"
                matInput placeholder="Nombre" required>
              <mat-error *ngIf="Controls.Cliente.nombre.invalid">
                {{Errors.Cliente.nombre}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="direccion" [readonly]="leerSolo"
                matInput placeholder="Dirección">
            </mat-form-field>
<!--
            <mat-form-field>
              <mat-label>Comuna</mat-label>
              <mat-select formControlName="comuna"
                  [disabled]="leerSolo" name="comuna">
                <mat-option *ngFor="let comuna of comunas" [value]="comuna.value">
                  {{comuna.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Controls.Respuesta.tipo.invalid">
                {{Errors.Respuesta.tipo}}
              </mat-error>
            </mat-form-field>
-->
            <mat-form-field>
              <input formControlName="web" [readonly]="leerSolo"
                matInput placeholder="Web">
            </mat-form-field>

          </div>
        </div>
        <mat-action-row *ngIf="revision">
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

    </mat-expansion-panel>
  </div>

  <div formGroupName="Mandante">
    <mat-expansion-panel
      [expanded]="(step === 1 || todos === 1)"
      (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mandante
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="sheet-oc-1">
          <div class="oc-container">

            <mat-form-field>
              <input formControlName="nombre" [readonly]="leerSolo"
                matInput placeholder="Nombre" required>
                <mat-error *ngIf="Controls.Mandante.nombre.invalid">
                  {{Errors.Mandante.nombre}}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="telefono" [readonly]="leerSolo"
                matInput placeholder="Telefono" required>
                <mat-error *ngIf="Controls.Mandante.telefono.invalid">
                  {{Errors.Mandante.telefono}}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="correo" [readonly]="leerSolo"
                matInput placeholder="Correo" required>
                <mat-error *ngIf="Controls.Mandante.correo.invalid">
                  {{Errors.Mandante.correo}}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="direccion" [readonly]="leerSolo"
                matInput placeholder="Direccion">
                <mat-error *ngIf="Controls.Mandante.direccion.invalid">
                  {{Errors.Mandante.direccion}}
                </mat-error>
            </mat-form-field>

          </div>
        </div>
        <mat-action-row *ngIf="revision">
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>
  </div>

  <div formGroupName="Solicitud">
    <mat-expansion-panel [expanded]="(todos === 1 || step === 2)"
      (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Solicitud
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="sheet-oc-1">
          <div class="oc-container">

            <mat-form-field>
              <input formControlName="contrato" [readonly]="leerSolo"
                matInput placeholder="Contrato">
            </mat-form-field>

            <mat-form-field>
              <input formControlName="sitio" [readonly]="leerSolo"
                matInput placeholder="Nombre/Direccion del Sitio" required>
              <mat-error *ngIf="Controls.Solicitud.sitio.invalid">
                {{Errors.Solicitud.sitio}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea formControlName="caso" [disabled]="leerSolo"
                matInput placeholder="Descripción del Caso" required>
              </textarea>
              <mat-error *ngIf="Controls.Solicitud.caso.invalid">
                {{Errors.Solicitud.caso}}
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <mat-action-row *ngIf="revision">
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

    </mat-expansion-panel>
  </div>

  <div formGroupName="Respuesta">
    <mat-expansion-panel
      [expanded]="(todos === 1 || step === 3)"
      (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Respuesta
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="sheet-oc-1">
          <div class="oc-container">

            <mat-form-field>
              <mat-label>Asistencia</mat-label>
              <mat-select formControlName="tipo"
                  [disabled]="leerSolo" name="respuesta">
                <mat-option *ngFor="let respuesta of respuestas" [value]="respuesta.value">
                  {{respuesta.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Controls.Respuesta.tipo.invalid">
                {{Errors.Respuesta.tipo}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input formControlName="agenda" [readonly]="leerSolo"
                matInput [matDatepicker]="picker" placeholder="Agenda">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="leerSolo" touchUi #picker></mat-datepicker>
              <mat-error *ngIf="Controls.Respuesta.agenda.invalid">
                {{Errors.Respuesta.agenda}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea formControlName="personal" [disabled]="leerSolo"
                matInput placeholder="Técnicos"></textarea>
            </mat-form-field>

            <mat-form-field>
              <textarea formControlName="herramientas" [disabled]="leerSolo"
                matInput placeholder="Herramientas"></textarea>
            </mat-form-field>

          </div>
        </div>
        <mat-action-row *ngIf="revision">
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="setOpenAll()">End</button>
        </mat-action-row>
    </mat-expansion-panel>
  </div>

</mat-accordion>
</form>

<div class="button-row" *ngIf="!revision">
  <button mat-raised-button class="boton" color="primary" (click)="onSubmit()">
    Aceptar
  </button>
  <button mat-raised-button class="boton" color="basic" (click)="editar()">
    {{cancelarLabel}}
  </button>
  <button mat-raised-button (click)="openDialog()">
    Pick one
  </button>
  <button mat-raised-button (click)="addUser('Javier','javier@example.com')">
    Add User!
  </button>
</div>

<div>
  <p>
    Form Value: {{ OTForm.value | json }}
  </p>

  <p>
    Form Status: {{ OTForm.status }}
  </p>

  <p>
    Form Errors: {{ OTForm.errors | json }}
  </p>
</div>
<!--
<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
-->
