.button-row button,

.button-row a {
  margin-right: 8px;
}

.button-row {
  padding: 1rem 4rem 1rem 4rem;
}

.boton {
  width: 200px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 2.5rem;
}

.boton-list {
  padding-bottom: 5rem;
  max-width: 200px;
  //border:1px solid red
}

.titulo {
  padding: .5rem 0rem 0rem 0rem;
  text-align: center;
}

.oc-container {
  //padding-top: 1.5rem;
  //display: flex;
  //flex-direction: column;
  background: inherit;
}
 .mat-form-field {
   //padding-right: 1rem;
   padding-left: 0.5rem;
 }
