
.oc-container {
  padding-top: 1.5rem;
  //display: flex;
  //flex-direction: column;
  //background: inherit;
}
 .mat-form-field {
   //padding-right: 1rem;
   padding-left: 1rem;
 }

.oc-container > * {
  //width: 100%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}
