<mat-grid-list class="grid-card" cols="7" rowHeight="">
  <mat-grid-tile
    class="tile-nombre"
    [colspan]="2"
    [rowspan]="1">
      {{this.nombre}}
  </mat-grid-tile>
  <mat-grid-tile
    class="tile-fecha"
    [colspan]="5"
    [rowspan]="1">
      {{this.fecha}}
  </mat-grid-tile>
</mat-grid-list>

<div class="tile-detalle">
  <a *ngIf="mostrar">
      {{this.detalle | slice:0:80}}
  </a>
  <a *ngIf="mostrar"
     class="referencia"
     (click)="mostrar=false;">  More
  </a>
  <a *ngIf="!mostrar">
      {{this.detalle}}
  </a>
  <a *ngIf="!mostrar"
     class="referencia"
     (click)="mostrar=true;">  Less
  </a>
</div>




    <!--
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

    </mat-grid-tile>
    <div ng-init="limit =150; moreShown = false">
      {{tile.text | slice:0:40}}
      <a ng-show="text.length > limit"
         href ng-click="limit=text.length; moreShown = true">  More
      </a>
    </div>



  -->
