.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid-card {
  padding-top: .5rem;
}

.tile-nombre {
  background: lightblue;
  border-bottom: 1px solid white;
}

.tile-fecha {
  background: lightblue;
  border-bottom: 1px solid white;
}

.tile-detalle {
  padding: 0.5rem;
  text-align: justify;
  background: lightblue;
}

.referencia {
  color: blue;
}
